/* Colors:
Dark grey: #7c7e88
Light grey: #d3d7db
Light: #e9ebed
Red: #b11d2b
_______________________________________*/
/* GLOBAL ELEMENTS */
@font-face {
    font-family: 'ak-medium';
    src: url('../fonts/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ak-regular';
    src: url('../fonts/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  /* CSS RESET: */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  font-size: 20px;
  background-color: #dedede;
  font-family: ak-medium, helvetica, sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
p {
  font-size: 12px;
  line-height: 12px;
  font-kerning: auto;
  color: #b11d2b;
}
h1 {
  font-size: 84px;
  line-height: 76px;
  letter-spacing: -4px;
  font-kerning: auto;
  color: #e9ebed;
}
h2 {
  font-size: 84px;
  line-height: 76px;
  letter-spacing: -4px;
  padding-top: 24px;
  color: #b11d2b;
}
h3 {
  font-size: 6.5px;
  line-height: 10px;
  font-kerning: auto;
  color: #d3d7db;
}
/* POSTER FRAME */
.poster {
  width: 500px;
  height: 700px;
  margin: 10vh auto 10vh auto;
  min-width: 500px;
  /* overflow: hidden;*/
  /* ^this caused not able to scroll page*/
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(17,1fr);
  background-color: #7c7e88;
}
/* POSTER STRUCTURES */
.title {
  /* overflow: hidden; */
  grid-area: 3 / 2 / 7 / 12;
}
.subtitle {
  /* overflow: hidden; */
  grid-area: 12 / 2 / 15 / 12;
  z-index: 30;
}
.single-line {
  /* overflow: hidden; */
  grid-area: 7 / 2 / 8 / 12;
  padding-top: 20px;
  z-index: 30;
}
.col-left, .col-right {
  /* overflow: hidden; */
  padding-top: 10px;
  z-index: 30;
}
.col-left {
  grid-area: 10 / 2 / 13 / 5;
}
.col-right {
  grid-area: 10 / 5 / 13 / 12;
}
.bottom-text {
  /* overflow: hidden; */
  grid-area: 17 / 2 / 18 / 7;
  padding-top: 20px;
}
.block1 {
  grid-area: 7 / 1 / 16 / 12;
  background-color: #e9ebed;
}
.mask-area {
  overflow: hidden;
  padding-left: 458px;
  grid-area: 7 / 1 / 16 / 12;
}
.mask {
  overflow: hidden;
  width: 660px;
  height: 620px;
  background: #e9ebed;
  transform: rotate(51deg);
  transform-origin: top left;
}
.stripe1 {
  grid-area: 7 / 1 / 16 / 3;
  background-color: #d3d7db;
}
.stripe2 {
  grid-area: 7 / 4 / 16 / 6;
  background-color: #d3d7db;
}
.stripe3 {
  grid-area: 7 / 7 / 16 / 9;
  background-color: #d3d7db;
}
.stripe4 {
  grid-area: 7 / 10 / 16 / 12;
  background-color: #d3d7db;
}

/* ANIMATIONS
_______________________________________*/
