/* Colors:
Dark grey: #7c7e88
Light grey: #d3d7db
Light: #e9ebed
Red: #b11d2b
_______________________________________*/
/* GLOBAL ELEMENTS */
@font-face {
    font-family: 'ak-medium';
    src: url('../fonts/akzidenzgrotesk-medium-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ak-regular';
    src: url('../fonts/akzidenzgrotesk-regular-webfont.woff2') format('woff2'),
         url('../fonts/akzidenzgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
  /* CSS RESET: */
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
  font-size: 20px;
  background-color: #dedede;
  font-family: ak-medium, helvetica, sans-serif;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
p {
  font-size: 12px;
  line-height: 12px;
  font-kerning: auto;
  color: #b11d2b;
}
h1 {
  font-size: 84px;
  line-height: 76px;
  letter-spacing: -4px;
  font-kerning: auto;
  color: #e9ebed;
}
h2 {
  font-size: 84px;
  line-height: 76px;
  letter-spacing: -4px;
  padding-top: 24px;
  color: #b11d2b;
  transform:translateX(-7px);
}
h3 {
  font-size: 6.5px;
  line-height: 10px;
  font-kerning: auto;
  color: #d3d7db;
}
/* POSTER FRAME */
.poster {
  width: 500px;
  height: 700px;
  margin: 10vh auto 10vh auto;
  min-width: 500px;
  /* overflow: hidden;*/
  /* ^this caused not able to scroll page*/
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(17,1fr);
  background-color: #7c7e88;
  background-image: url("../images/poster-texture.png");
  box-shadow: 2px 8px 25px grey;
}
/* POSTER STRUCTURES */
.title {
  /* overflow: hidden; */
  grid-area: 3 / 2 / 7 / 12;
}
.subtitle {
  /* overflow: hidden; */
  grid-area: 12 / 2 / 15 / 12;
  z-index: 30;
}
.single-line {
  /* overflow: hidden; */
  grid-area: 7 / 2 / 8 / 12;
  padding-top: 20px;
  z-index: 30;
}
.col-left, .col-right {
  /* overflow: hidden; */
  padding-top: 10px;
  z-index: 30;
}
.col-left {
  grid-area: 10 / 2 / 13 / 5;
}
.col-right {
  grid-area: 10 / 5 / 13 / 12;
}
.bottom-text {
  /* overflow: hidden; */
  grid-area: 17 / 2 / 18 / 7;
  padding-top: 20px;
}
.block1 {
  grid-area: 7 / 1 / 16 / 12;
  background-color: #e9ebed;
}
.mask-area {
  overflow: hidden;
  padding-left: 458px;
  grid-area: 7 / 1 / 16 / 12;
}
.mask {
  overflow: hidden;
  width: 600px;
  height: 620px;
  background: #e9ebed;
  transform: rotate(51deg);
  transform-origin: top left;
  z-index: 30;
  animation: tri-rotate 6s ease-in-out infinite alternate
}
.stripe-area {
  overflow: hidden;
  grid-area: 7 / 1 / 16 / 12;
  z-index: 20;
}
.stripe-area > * {
  display: inline-block;
  width: 41.65px;
  height: 370.55px;
  background-color: #d3d7db;
}
.stripe1 {
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) infinite
}
.stripe2 {
  transform: translateX(41.65px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.1s infinite
}
.stripe3 {
  transform:translateX(41.65*2px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.2s infinite
}
.stripe4 {
  transform:translateX(41.65*4px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.3s infinite
}
.stripe5 {
  transform:translateX(41.65*5px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.4s infinite
}
.stripe6 {
  transform:translateX(41.65*7px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.5s infinite
}
.stripe7 {
  transform:translateX(41.65*8px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.6s infinite
}
.stripe8 {
  transform:translateX(41.65*8px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.7s infinite
}
.stripe9 {
  transform:translateX(41.65*8px);
  animation: stripes 4s cubic-bezier(.54,.44,.6,.99) 0.8s infinite
}
/* ANIMATIONS
_______________________________________*/
@keyframes stripes {
  0% {
		transform:translateY(-375px);
	}
	15% {
		transform:translateY(0px);
	}
  45% {
		transform:translateY(0px);
	}
	70% {
		transform:translateY(-375px);
	}
  100% {
		transform:translateY(-375px);
	}
}
@keyframes tri-rotate {
  0% {
    transform:rotate(35deg);
  }
  15% {
    transform:rotate(51deg);
  }
  45% {
    transform:rotate(51deg);
  }
  70% {
    transform:rotate(65deg);
  }
  100% {
    transform:rotate(65deg);
  }
  animation-fill-mode: both;
}
